/* --- fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --- variables --- */
/* background - gradient color palette */
:root {
    --main-color: #5E3719; 
    --teal: #283D3B;
    --turquiose: #197278;
    --off-white: #EDDDD4;
    --poppy-red: #c44536;
    --burnt-red: #772E25;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur(12px);
}

/* --- components --- */
/* --- custom scrollbar --- */
::-webkit-scrollbar {
    width: 5px;
}


/* --- buttons --- */
button {
    font-family: inherit;
    user-select: none;
}

.btn {
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    border: 1px solid var(--white-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--poppy-red); /* changes color of word font */
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--poppy-red);
    z-index: -1; 
    transition: width 0.3s ease; /* button gradient */
}

.btn:hover::before {
    width: 100%;
}
/* when button is touched - font changes white */
.btn:hover { 
    color: var(--white);
}

/* --- home page --- */

/* --- about page --- */

/* --- recipes page --- */

/* --- food review page --- */

/* ---  page --- */